.items {
  display: flex;
  gap: 1rem;
  max-width: 55rem;
  flex-wrap: wrap;
  list-style: none;
  margin: 2rem 6rem;
}

li {
  background: #adc0c4;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
  padding: 1rem;
}

li:hover {
  background-color: #7f3992;
}

.color-selecionada {
  background-color: #7f3992;
}

.actions {
  max-width: 55rem;
  margin-left: 100px;
  padding-block: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#result {
  width: 440px;
  margin-left: 10px;
  height: 30px;
  display: flex;
  align-items: center;
  padding-inline: 2px;
  border-bottom: 1px solid #45c0ae;
}

.buttons {
  display: flex;
  gap: .5rem;
}

button {
  all: unset;
  border: 1px solid #45c0ae;
  color: #4c546d;
  font-weight: bold;
  padding: 1rem 2.5rem;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #45c0ae;
  color: #fff;
}

